<h1><%= @roster.roster_name %></h1>

<h2>Current Players</h2>
<ul><% @roster.players.each do |player|  %>
<li><a href="/players/<%=player.slug%>"><%=player.name%>, Salary: <%=player.salary%></a></li>
<% end %></ul> 

           
<a href="/users/index">
  <button>Go Back</button>
</a> 

<br><br>

<a href="/rosters/<%=@roster.slug%>/edit">
  <button>Edit Roster</button>
</a> 

