<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>  


<h2> Name: <%= @player.name %> </h2>
<h2>Position: <%= @player.position %> </h2>
<h2>Salary: <%= @player.salary %> </h2>

<h2>Team History</h2>
<ul><% @player.rosters.each do |roster|  %>
    <li><a href="/rosters/<%=roster.slug%>"><%=roster.roster_name%></a></li>
<% end %></ul> 

 <a href="/users/index">
      <button>Go Back</button>
 </a>

  <a href="/players/<%=@player.slug%>/edit">
      <button>Edit Player</button>
 </a> 

