<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>  


<h2> Name: <%= @player.name %> </h2><br>
<h2>Position: <%= @player.position %> </h2><br>
<h2>Salary: <%= @player.salary %> </h2><br>

<h2>Current Team: <%=@player.rosters.first.roster_name%></h2>
<h2>Former Teams  # add logic here to show all teams we used to be on ....this will prove your has may rosters logic</h2>

 <a href="/users/index">
      <button>Go Back</button>
 </a>

  <a href="/players/<%=@player.slug%>/edit">
      <button>Edit Player</button>
 </a> 

